<!DOCTYPE HTML>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>ZSISC中山女高資訊研究社27屆</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css"/>
    </noscript>
    <style>
        .contact-method {
            width: 100%;
            padding: 0;
        }
    </style>
</head>

<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <a href="/" class="logo"><strong>ZSISC</strong></a>
        <nav>
            <a href="#menu">Menu</a>
        </nav>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <ul class="links">
            <li><a href="/">主頁</a></li>
            <li><a href="/introduction">社團簡介</a></li>
            <li><a href="/activity">活動</a></li>
            <li><a href="/cpp">程式班</a></li>
            <li><a href="/beauty">網美班</a></li>
            <li><a href="https://www.facebook.com/zsisc27th">Facebook</a></li>
            <li><a href="https://www.instagram.com/zsisc27th/?hl=zh-tw">Instagram</a></li>
            <li><a href="https://tellonym.me/ZSISC27th">匿名提問</a></li>
            <li><a href="https://forms.gle/aLr8CV7JJ7DAjSf4A">地社表單</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main" class="alt">

        <!-- One -->
        <section id="one">
            <div class="inner">
                <header class="major">
                        <span style="font-family:Microsoft JhengHei;">
                            <h1>程式班課程內容</h1>
                        </span>
                </header>

                <table
                        style="border:3px #FFFFFF solid;padding:5px;display: block;overflow-x: auto;white-space: nowrap;width: 100%;"
                        rules="all" cellpadding='5'>
                    <tr>
                        <td style="width: 15%;">日期</td>
                        <td style="width: 35%;">課程大綱</td>
                        <td style="width: 35%;">講義</td>
                        <td style="width: 15%;">題目</td>
                    </tr>
                    <tr>
                        <td rowspan="3"><%= data[0][0] %></td>
                        <td rowspan="3"><%= data[0][1] %></td>
                        <td rowspan="3"><a target="_blank" href="<%= data[0][2] %>"><%= data[0][3] %></a></td>
                        <td><a target="_blank" href="<%= data[0][4] %>"><%= data[0][5] %></a></td>
                    </tr>
                    <tr>
                        <% if(data[0][6]){ %>
                            <td><a target="_blank" href="<%= data[0][6] %>"><%= data[0][7] %></a></td>
                        <% } %>
                    </tr>
                    <tr>
                        <% if(data[0][8]){ %>
                            <td><a target="_blank" href="<%= data[0][8] %>"><%= data[0][9] %></a></td>
                        <% } %>
                    </tr>
                    <tr>
                        <td rowspan="3"><%= data[1][0] %></td>
                        <td rowspan="3"><%= data[1][1] %></td>
                        <td rowspan="3"><a target="_blank" href="<%= data[1][2] %>"><%= data[1][3] %></a></td>
                        <td><a target="_blank" href="<%= data[1][4] %>"><%= data[1][5] %></a></td>
                    </tr>
                    <tr>
                        <% if(data[1][6]){ %>
                            <td><a target="_blank" href="<%= data[1][6] %>"><%= data[1][7] %></a></td>
                        <% } %>
                    </tr>
                    <tr>
                        <% if(data[1][8]){ %>
                            <td><a target="_blank" href="<%= data[1][8] %>"><%= data[1][9] %></a></td>
                        <% } %>
                    </tr>
                    <tr>
                        <td rowspan="3"><%= data[2][0] %></td>
                        <td rowspan="3"><%= data[2][1] %></td>
                        <td rowspan="3"><a target="_blank" href="<%= data[2][2] %>"><%= data[2][3] %></a></td>
                        <td><a target="_blank" href="<%= data[2][4] %>"><%= data[2][5] %></a></td>
                    </tr>
                    <tr>
                        <% if(data[2][6]){ %>
                            <td><a target="_blank" href="<%= data[2][6] %>"><%= data[2][7] %></a></td>
                        <% } %>
                    </tr>
                    <tr>
                        <% if(data[2][8]){ %>
                            <td><a target="_blank" href="<%= data[2][8] %>"><%= data[2][9] %></a></td>
                        <% } %>
                    </tr>
                    <tr>
                        <td rowspan="3"><%= data[3][0] %></td>
                        <td rowspan="3"><%= data[3][1] %></td>
                        <td rowspan="3"><a target="_blank" href="<%= data[3][2] %>"><%= data[3][3] %></a></td>
                        <td><a target="_blank" href="<%= data[3][4] %>"><%= data[3][5] %></a></td>
                    </tr>
                    <tr>
                        <% if(data[3][6]){ %>
                            <td><a target="_blank" href="<%= data[3][6] %>"><%= data[3][7] %></a></td>
                        <% } %>
                    </tr>
                    <tr>
                        <% if(data[3][8]){ %>
                            <td><a target="_blank" href="<%= data[3][8] %>"><%= data[3][9] %></a></td>
                        <% } %>
                    </tr>
                    <tr>
                        <td rowspan="3"><%= data[4][0] %></td>
                        <td rowspan="3"><%= data[4][1] %></td>
                        <td rowspan="3"><a target="_blank" href="<%= data[4][2] %>"><%= data[4][3] %></a></td>
                        <td><a target="_blank" href="<%= data[4][4] %>"><%= data[4][5] %></a></td>
                    </tr>
                    <tr>
                        <% if(data[4][6]){ %>
                            <td><a target="_blank" href="<%= data[4][6] %>"><%= data[4][7] %></a></td>
                        <% } %>
                    </tr>
                    <tr>
                        <% if(data[4][8]){ %>
                            <td><a target="_blank" href="<%= data[4][8] %>"><%= data[4][9] %></a></td>
                        <% } %>
                    </tr>
                    <tr>
                        <td rowspan="3"><%= data[5][0] %></td>
                        <td rowspan="3"><%= data[5][1] %></td>
                        <td rowspan="3"><a target="_blank" href="<%= data[5][2] %>"><%= data[5][3] %></a></td>
                        <td><a target="_blank" href="<%= data[5][4] %>"><%= data[5][5] %></a></td>
                    </tr>
                    <tr>
                        <% if(data[5][6]){ %>
                            <td><a target="_blank" href="<%= data[5][6] %>"><%= data[5][7] %></a></td>
                        <% } %>
                    </tr>
                    <tr>
                        <% if(data[5][8]){ %>
                            <td><a target="_blank" href="<%= data[5][8] %>"><%= data[5][9] %></a></td>
                        <% } %>
                    </tr>
                    <tr>
                        <td rowspan="3"><%= data[6][0] %></td>
                        <td rowspan="3"><%= data[6][1] %></td>
                        <td rowspan="3"><a target="_blank" href="<%= data[6][2] %>"><%= data[6][3] %></a></td>
                        <td><a target="_blank" href="<%= data[6][4] %>"><%= data[6][5] %></a></td>
                    </tr>
                    <tr>
                        <% if(data[6][6]){ %>
                            <td><a target="_blank" href="<%= data[6][6] %>"><%= data[6][7] %></a></td>
                        <% } %>
                    </tr>
                    <tr>
                        <% if(data[6][8]){ %>
                            <td><a target="_blank" href="<%= data[6][8] %>"><%= data[6][9] %></a></td>
                        <% } %>
                    </tr>
                    <tr>
                        <td rowspan="3"><%= data[7][0] %></td>
                        <td rowspan="3"><%= data[7][1] %></td>
                        <td rowspan="3"><a target="_blank" href="<%= data[7][2] %>"><%= data[7][3] %></a></td>
                        <td><a target="_blank" href="<%= data[7][4] %>"><%= data[7][5] %></a></td>
                    </tr>
                    <tr>
                        <% if(data[7][6]){ %>
                            <td><a target="_blank" href="<%= data[7][6] %>"><%= data[7][7] %></a></td>
                        <% } %>
                    </tr>
                    <tr>
                        <% if(data[7][8]){ %>
                            <td><a target="_blank" href="<%= data[7][8] %>"><%= data[7][9] %></a></td>
                        <% } %>
                    </tr>
                    <tr>
                        <td rowspan="3"><%= data[8][0] %></td>
                        <td rowspan="3"><%= data[8][1] %></td>
                        <td rowspan="3"><a target="_blank" href="<%= data[8][2] %>"><%= data[8][3] %></a></td>
                        <td><a target="_blank" href="<%= data[8][4] %>"><%= data[8][5] %></a></td>
                    </tr>
                    <tr>
                        <% if(data[8][6]){ %>
                            <td><a target="_blank" href="<%= data[8][6] %>"><%= data[8][7] %></a></td>
                        <% } %>
                    </tr>
                    <tr>
                        <% if(data[8][8]){ %>
                            <td><a target="_blank" href="<%= data[8][8] %>"><%= data[8][9] %></a></td>
                        <% } %>
                    </tr>
                    <tr>
                        <td rowspan="3"><%= data[9][0] %></td>
                        <td rowspan="3"><%= data[9][1] %></td>
                        <td rowspan="3"><a target="_blank" href="<%= data[9][2] %>"><%= data[9][3] %></a></td>
                        <td><a target="_blank" href="<%= data[9][4] %>"><%= data[9][5] %></a></td>
                    </tr>
                    <tr>
                        <% if(data[9][6]){ %>
                            <td><a target="_blank" href="<%= data[9][6] %>"><%= data[9][7] %></a></td>
                        <% } %>
                    </tr>
                    <tr>
                        <% if(data[9][8]){ %>
                            <td><a target="_blank" href="<%= data[9][8] %>"><%= data[9][9] %></a></td>
                        <% } %>
                    </tr>
                </table>
            </div>
        </section>

    </div>

    <!-- Contact -->
    <section id="contact">
        <center>
            <section>
                <div class="contact-method">
                        <span style="font-family:Microsoft JhengHei;">
                            <a href="https://tellonym.me/ZSISC27th"><span class="label">
                                    <h3>匿名提問</h3></a>
                        </span>
                    </span>
                </div>
            </section>
            <section>
                <div class="contact-method">
                        <span style="font-family:Microsoft JhengHei;">
                            <a href="https://forms.gle/aLr8CV7JJ7DAjSf4A"><span class="label">
                                    <h3>地社表單</h3></a>
                        </span>
                    </span>
                </div>
            </section>
            <section>
                <div class="contact-method">
                    <a href="https://www.facebook.com/zsisc27th"><span class="label">
                                <h3>Facebook</h3>
                            </span></a>

                    <span style="font-family:Microsoft JhengHei;">
                            <span>中山女高資訊研究社27th</span>
                        </span>
                </div>
            </section>
            <section>
                <div class="contact-method">
                    <a href="https://www.instagram.com/zsisc27th/?hl=zh-tw"><span class="label">
                                <h3>Instagram</h3>
                            </span></a>

                    <span>@zsisc27th</span>
                </div>
            </section>
            <section>
                <div class="contact-method">
                    <h3>Email</h3>
                    <span>zsisc27@gmail.com</span>
                </div>
            </section>
        </center>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <ul class="icons">
                <li></li>
            </ul>
            <ul class="copyright">
                <li>&copy; Untitled</li>
                <span style="font-family:Microsoft JhengHei;">
                        <h4>
                            <li>Design by <a href="https://html5up.net/">HTML5 UP</a>, 很想睡覺的楓資27網管</li>
                        </h4>
                        <h4>
                            <li>Special Thanks to <a href="https://ckcsc.net/">CKCSC33rd</a></li>
                        </h4>
                    </span>
            </ul>
        </div>
    </footer>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>

</html>